<h1>Question: #<%= @question.question %></h1>


<h5>Categories:</h5>
<ul>
  <% if @question.categories.empty? %>
    <li>This question has no categories</li>
  <% else%>
    <% @question.categories.each do |category| %>
    <li><%= category.category_name %></li>
    <% end %>
  <% end%>
</ul>

<h5>Reflexion Questions:</h5> 
<ul>
  <% if @question.reflexion_questions.empty? %>
    <li>This question has no reflexion questions</li>
  <% else%>
    <% @question.reflexion_questions.each do |rq| %>
    <li><%= rq.reflexion_question %></li>
    <% end %>
  <% end%>
</ul>
  
<h5>Tips:</h5>
<ul>  
  <% if @question.tips.empty? %>
    <li>This question has no tips</li>
  <% else%>
    <% @question.tips.each do |tip| %>
    <li><%= tip.content %></li>
    <% end %>
  <% end%>
</ul>

<h5>Created at:</h5> 
<ul> 
  <li><%= time_ago_in_words(@question.created_at) %> ago</li>
</ul>

<h5>Updated at:</h5> 
<ul> 
  <li><%= time_ago_in_words(@question.updated_at) %> ago</li>
</ul>


<div>
  <div>
    <a href="/questions">Go back</a>
  </div>

  <div>
    <a href="/existing_question_form/<%= @question.id %>">Edit question </a>
  </div>

  <div>
    <a href="/delete_question/<%= @question.id %>">Delete question</a>
  </div>
</div>

